body {
    font-family: Josefin Slab, serif !important;
}
body.b1 {
    background-image: url("../images/background.jpg");
    background-size: cover;
}
body.b2 {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    color: white;
}
body.b3 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
    color: white;
}
form {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
}

#title {
    margin-top: 100px;
}

.theme {
    margin-top: 10px;
}

@font-face {
    font-family: OstrichSans;
    src: url("../styles/OstrichSans-Black.otf")
}