body {
    /* font-family: Josefin Slab, serif !important; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    background-position: center;
}
body.b1 {
    background-color: black;
}
body.b2 {
    background-color: teal;
}
body.b3 {
    background-color: lightblue;
}
#header {
    height: 350px;
    border-bottom: 1px solid white;
}
#header.b1 {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}
#header.b2 {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
#header.b3 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
form {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
}

/* #title {
    margin-top: 110px;
    
} */
/* #content {
    border-top: 1px solid white;
} */

.theme {
    margin-top: 10px;
}

/* @font-face {
    font-family: OstrichSans;
    src: url("../styles/OstrichSans-Black.otf")
} */

/* @media only screen and (max-width: 600px) {
    body {
      
    }
  } */